* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* centralizar os itens */
body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(227, 212, 236);
}

/* mexer no quadrado */
.container {
    width: 80;
    height: 80;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0,0,0,.212);
}

.form-image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(224, 240, 225);
    padding: 1rem;
}

.form-image img {
    width: 50rem;
}

.form {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    padding: 3rem;
}

.form-header {
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
}

/*Centralizar botão*/

.login-button { 
    display: flex;
    align-items: center;
}

.login-button button {
    border: none;
    background-color: rgb(172, 133, 196);
    padding: 0.4rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.login-button button:hover {
    background-color: rgb(211, 192, 223);
}

.login-button button a {
    text-decoration: none;
    font-weight: 500;
    color: white;
}


.input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

.input-box input {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    font-size: 0.8rem;
}

.input-box input:hover {
    background-color: #eeeeee75;
}

.input-box input:focus-visible {
    outline: 1px solid rgb(172, 133, 196);
}

.continue-button button {
    width: 100%;
    margin-top: 2.5rem;
    border: none;
    background-color:  rgb(172, 133, 196);
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
}

.continue-button button:hover {
    background-color:rgb(211, 192, 223);
}

.continue-button button a {
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 500;
    color: #fff;
}

